*.pyc
*.pkl
*.npy
results/*
runs/*
!paper_plots_and_data/depth_scaling_results/*
!paper_plots_and_data/frame_skip_exp_results/*
!paper_plots_and_data/perturbation_exp_results/*
!supplementary_material.pdf
*.pt
*.png
*.jpg
*.npz
